<div class="container" style="text-align: center;">
    <h2>Client Listing</h2>
</div>
<div class="container" style="text-align: end;">
    <a mat-raised-button color="primary" (click)="openPopup('')">Create New</a>
</div>

<table mat-table [dataSource]="clientData" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let client">{{client.name}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let client">{{client.email}}</td>
    </ng-container>

    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef>Password</th>
        <td mat-cell *matCellDef="let client">{{client.password}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let client">{{client.address}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let client">
            <div>
                <a mat-raised-button color="primary" (click)="editClient(client.id)">Edit</a>
                <a mat-raised-button color="warn" (click)="removeClient(client.id)">Delete</a>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>