table {
  width: 80%;
  margin: auto;
  margin-top: 1%;
}

table th,
td {
  text-align: center;
}

.mat-raised-button {
  margin-left: 10px;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 1%;
}