<form class="example-form" [formGroup]="clientForm" (ngSubmit)="saveClient()">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address">
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary">Save</button>
        <a (click)="closePopup()" mat-raised-button color="accent">Close</a>
    </div>

</form>